include includes/head.pug
  
  body
    include includes/header.pug
    
    section.beef
      .container
        .row
          .col
            h2.page-title Aberdeen Angus Szarvasmarha
            
            p.lead
              b Az Aberdeen Angus fajta Skócia legelőterületeiről származik. Kis testű húsmarhafajta, korán faggyúsodik és a faggyút a hasűri szerveken, izomkötegek közé és a bőr alá raktározza. Igénytelen, gazdaságos, jó legelőhasznosítású szarvasmarha.
            
            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-1/angus-1.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-1/angus-2.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-1/angus-3.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-1/angus-4.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-1/angus-5.jpg' alt='Angus')
            
            .about
              h3 Jellemzői
              p Genetikailag szarv nélküli fajta, színe általában fekete, de vörös színváltozata is létezik. A nyaka izmos és széles, hengeres formájú törzzsel és könnyű csontozattal. A magas húshányad szintén a fajta jellemzője a telt vállak, hosszú és széles hát, valamint a mélyen lenyúló combizomzat révén. Lábai rövidek, szabályosak. A fajtára épp úgy jellemző a korai érés, az engedelmesség, az alkalmazkodóképesség, és a könnyű ellés, mint az, hogy a borjak felneveléséhez elegendő tejjel rendelkeznek. A tehenek élőtömege 450-550kg között van. Korán érő típus, 13 – 15 hónapos korban tenyésztésbe vehető.
            
            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-2/angus-1.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-2/angus-2.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-2/angus-3.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-2/angus-4.jpg' alt='Angus')
              .slider-image
                figure
                  img(src='./images/beef-page/angus/slide-2/angus-5.jpg' alt='Angus')
            
            .about
              p A genetikailag rögzített tulajdonsága révén, hogy finom rostú, jól erezett húst fejlesszen – ez a fajta mind fajtiszta tenyészetekben, mind keresztezésben nagyon keresett. Az állatok speciálisan alkalmasak natúr marhahús termelésére, de a visszafogott táplálás miatt kisebb mértékű a felhízás, hogy a korai elzsírosodást elkerüljék. A talajviszonyok figyelembe vételével ez a fajta egész évben, a szabadban tartható.

    include includes/beefslider.pug
    include includes/footer.pug
