include includes/head.pug
  
  body
    include includes/header.pug
    
    section.beef
      .container
        .row
          .col
            h2.page-title Charolais Szarvasmarha
            
            p.lead
              b A charolais világszerte elterjedt, nagy termetű húshasznú szarvasmarha fajta. Származási helye Franciaország, Charolles város vidéke. Egyszínű fehér, vagy krémszínű szőrzet, világos szutyak, világos szarvak és körmök. A charolais nagytestű, nagy növekedési erélyű, későn érő és könnyen kezelhető szarvasmarha.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-1.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-2.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-3.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-4.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-5.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-6.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-1/charolais-7.jpg' alt='Charolais')

            .about
              h3 Jellemzői
              p Már a borjaknál is megvan az erős izomzat. A viszonylag magas születési súly vezet a más fajokhoz viszonyítva gyakoribb ellési komplikációhoz. A nagyon kifejezett izomzat, ezen belül a váll, a hát, a bélszín és a comb izomzata fajtatipikus. Az állatok nyugodt, esetleg lusta viselkedése lehetővé teszi naponta nagy mennyiségű táplálék bevitelét és jó hatásfokú hasznosítását , mégis kevés hajlamot mutatnak az értékes húsrészek elzsírosodására. Húskitermelési százaléka jó, faggyúban szegény, jól márványozott a húsa. A hízóbikák gyarapodása elérheti a napi 2 kg-ot is, nagy végsúlyra gazdaságosan hízlalhatók. A Charolais tehenek jó borjúnevelők.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-2/charolais-1.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-2/charolais-2.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-2/charolais-3.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-2/charolais-4.jpg' alt='Charolais')
              .slider-image
                figure
                  img(src='./images/beef-page/charolais/slide-2/charolais-5.jpg' alt='Charolais')

            .about
              p A fajtiszta tenyésztés mellett alkalmas tejelő, vagy kettőshasznosítású fajtákkal haszonkeresztezésre elsősorban az apaállatok oldaláról a húskitermelés javítására. Hosszan tartó növekedés, optimális táplálékhasznosítás, bőséges hústermelés, jó alkalmazkodóképesség – ezek biztosítják a Charolais fajta előkelő pozícióját és gazdaságosságát.

    include includes/beefslider.pug    
    include includes/footer.pug
