include includes/head.pug
  
  body
    include includes/header.pug
    
    section.beef
      .container
        .row
          .col
            h2.page-title Hereford Szarvasmarha
    
            p.lead
              b Hereford cattle is originally from the county of Herefordshire, situated in West England. The export trade of the cattle begun from United Kingdom, and it spread all over the World. Hereford is one of the most widespread beef cattle with a small body frame.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-1.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-2.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-3.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-4.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-5.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-6.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-7.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-8.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-1/hereford-9.jpg' alt='Hereford')

            .about
              h3 Jellemzői
              p A hereford kistestű, a tehén élőtömege 500-600 kg között van. Színe fedett mélyvörös, kevés fehér tarkázottsággal. Dominánsan öröklődő jellemzője a fehér homlok. Fehér foltok a fejen, a mellen, a hason és a végtagokon. A szőrzet a simától a göndörig változhat. A mellkas igen széles és mély. A hát széles, egyenes és jól izmolt, a lába rövid. Létezik szarv nélküli változata is. Korán érő fajta, tenyésztésbe vételének ideje 14-16 hónap. Az ellések lefolyása általában könnyű. Korán faggyúsodik, és a faggyút elsősorban a hasűrbe és a bőr alá raktározza.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-1.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-2.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-3.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-4.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-5.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-6.jpg' alt='Hereford')
              .slider-image
                figure
                  img(src='./images/beef-page/hereford/slide-2/hereford-7.jpg' alt='Hereford')

            .about
              p A hereford igénytelen és alkalmazkodóképes, a gyenge minőségű legelőkön is megél, ezért elsősorban a szélsőséges klímájú, más szarvasmarhával nem hasznosítható területek marhája. Alkalmas anyatehén csordákban legeltető tartással hústermelésre. Nagyon alkalmas tejelő fajtákkal való haszonkeresztezésre. A hízó állatok növekedési erélye szerény, a gazdaságos hizlalási végtömeg 400-450 kg.
    
    include includes/beefslider.pug
    include includes/footer.pug
