include includes/head.pug
  
  body
    include includes/header.pug
    
    section.beef
      .container
        .row
          .col
            h2.page-title Holstein Fríz Szarvasmarha
            
            p.lead
              b A Holstein teheneknek a legnagyobb a tejhozama a világon. A Holsteinek fekete-, vagy vörös-tarka nagy, nyugodt állatok. Könnyen tarthatók istállóban, jó természetűek, könnyen kezelhetők. A borjak születéskor 40 kg körüli súlyúak, míg egy felnőtt holstein tehén kb. 680 kg-ot nyom és állva vállmagassága átlagosan 148 cm. A Holstein üszők 15 hónapos koruktól termékenyíthetők. Stressztűrők, jó csordaszellemet mutatnak és nem magányos állatok. Normál produktív élettartamuk kb 6 év.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-1/holstein-1.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-1/holstein-2.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-1/holstein-3.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-1/holstein-4.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-1/holstein-5.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-1/holstein-6.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-1/holstein-7.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-1/holstein-8.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-1/holstein-9.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-1/holstein-10.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-1/holstein-11.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-1/holstein-12.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-1/holstein-13.jpg' alt='Holstein')

            .about
              //- h3 Jellemzői
              p Sok éven át a Holsteineket úgy tenyésztették és szigorúan úgy szelektálták, hogy olyan állatokat kapjanak, amelyek a legjobban hasznosítják a füvet, ami származási helyükön, Hollandia északi tartományaiban a legbőségesebben rendelkezésre álló takarmány. Ahogy a Holsteinek genetikai potenciálja javul, úgy válik a takarmányozás és a takarmányozási stratégiák egyre fontosabbá. Széles körben ismert, hogy a termelt tej mennyisége függ a tehén által elfogyasztott takarmány mennyiségétől és minőségétől.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-2/holstein-1.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-2/holstein-2.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-2/holstein-3.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-2/holstein-4.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-2/holstein-5.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-2/holstein-6.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-2/holstein-7.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-2/holstein-8.jpg' alt='Holstein')
              .slider-image
                figure
                  img(src='./images/beef-page/holstein/slide-2/holstein-9.jpg' alt='Holstein')

            .about
              p Egyes telepek, sőt egyes országok átlagos tejtermelése meghaladja a 10.000 kg-ot tehenenként évente. A laktációs ciklus általában hosszabb, mint 305 nap, amit a következő ellés előtt egy 2 hónapos szárazon állási periódus követ. Mesterséges megtermékenyítés révén a tulajdonos könnyen irányíthatja a tenyésztés irányát azáltal, hogy a világ legjobb bikáit használhatja, ezáltal gyorsítva a genetikai fejlődést. A Holsteinek minden tartási körülményhez jól alkalmazkodnak. Tarthatók istállóban, de ugyanúgy alkalmasak legeltetésre is. Tarthatók füves területeken, vagy vegyes rendszerben nyári legeltetéssel, vagy akár istállóban egész éven át. Az sem számít, hogy magasan, vagy alacsonyan fekszik-e a terület. Nem csak a Holsteinek felelnek meg az alacsony költségű állattartásra, de kiválóan alkalmasak intenzív tejipari termelésre, ami a tehenek istállózását igényli.
    
    include includes/beefslider.pug
    include includes/footer.pug
