include includes/head.pug
  
  body
    include includes/header.pug
    
    section.beef
      .container
        .row
          .col
            h2.page-title Limousin Szarvasmarha
    
            p.lead
              b Ma az egyik legkeresettebb nagytestű húsmarhafajta, Franciaország Limousin régiójából származik. A limousin fajta könnyedén felismerhető és megkülönböztethető a többi szarvasmarha fajtától az arany-vörös színe miatt.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-1.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-2.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-3.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-4.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-5.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-6.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-7.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-8.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-9.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-1/limousin-10.jpg' alt='Limousin')

            .about
              h3 Jellemzői
              p Az egyszínű, világosabb, vagy sötétebb vörös Limousin szarvasmarhán csak a lábakon, a szutyakon, a szem környékén és a belső combon vannak jellegzetes világosabb területek. A viszonylag hosszú törzs széles háttal és a comb a rendkívüli izomzatával a magas húskihozatal alapja. A hús jól erezett. A finom, korrekt állású láb szilárd körmökkel alkalmassá teszi arra, hogy jól lehessen legelőn tartani.A limousin szarvasmarha relatíve hosszú és enyhén ereszkedő medencéje és az alacsony születési súlya könnyű ellést tesz lehetővé.További fajtajellemzők a vitalitás, a termékenység, a hosszú élettartam és az alkalmazkodóképesség. Középkorán érő fajta, üszői 18-20 hónapos korban vehetők tenyésztésbe.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-2/limousin-1.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-2/limousin-2.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-2/limousin-3.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-2/limousin-4.jpg' alt='Limousin')
              .slider-image
                figure
                  img(src='./images/beef-page/limousin/slide-2/limousin-5.jpg' alt='Limousin')

            .about
              p A Limousin akár fajtatiszta tenyésztésben, akár keresztezésben kiválóan alkalmas a legmagasabb minőségi követelményeket kielégítő hústermelésre. Súlyánál és takarmányigényénél fogva ez a marha kevésbé gyorsan növekedő legelőkön, középhegységekben is tartható. A borjak nagy vitalitása jelentősen csökkenti a veszteséget leborjadzáskor.
    
    include includes/beefslider.pug
    include includes/footer.pug
