include includes/head.pug
  
  body
    include includes/header.pug
    
    section.beef
      .container
        .row
          .col
            h2.page-title Szimentáli Szarvasmarha
    
            p.lead
              b Az egyik legrégebbi és legszélesebb körben tenyésztett szarvasmarha. A svájci Simme völgyéből származik. A szimentáli fajta hozzájárult több más neves európai fajták, mint például a francia eredetű Montbeliarde, a német Fleckvieh és a magyarországi Magyar Tarka fajták létrehozásában. A magyar tarka fajta a XIX. sz. második felében még uralkodó magyar szürke fajtának a szimentáli fajtával végzett fajtaátalakító keresztezéséből származik. A kezdetben kettőshasznosítású fajtaként tenyésztett marha mára világszerte elterjedt és húsmarhaként is egyre nagyobb jelentőségre tett szert.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-1.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-2.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-3.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-4.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-5.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-6.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-7.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-8.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-1/simmental-9.jpg' alt='Szimentáli')

            .about
              h3 Jellemzői
              p A Szimentáli fajtára nézve tipikus a fehér alapon világos sárgástól a vöröses barnáig foltosan tarka szőrzet. Dominánsan öröklődő fehér fej, a szemek körül vöröses barna karikával . Az állatok közepes, vagy nagytestűek, szegyük és lágyékuk magasan van. A húsjellegűeknél keresett a rendszerint izmos mellsőrész, a finom hát, a mélyen elhelyezkedő és jellegzetes comb. A lábak kissé durvák, de korrektek. A szimentáli fajtát mind a fajtiszta, mind a keresztezett tartásban széleskörűen alkalmazzák és hasznosítják. A fajta tejbősége, a borjak jó növekedése és az állatok hosszan tartó izomfejlődése jelentős és értékes gazdaságossági tényezők.

            .slider
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-1.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-2.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-3.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-4.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-5.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-6.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-7.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-8.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-9.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-10.jpg' alt='Szimentáli')
              .slider-image
                figure
                  img(src='./images/beef-page/simmental/slide-2/simmental-11.jpg' alt='Szimentáli')
    
    include includes/beefslider.pug
    include includes/footer.pug
