.contact {
  text-align: center;

  .contactelem {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      display: block;
    }

    &__item {
      background-color: $color-white;
      padding: 2rem;
      width: 32.5%;

      @include media-breakpoint-down(md) {
        width: 100%;
        margin-bottom: 1rem;
      }

      p {
        margin: 0;
      }

      &.red {
        background-color: $color-bibor;
        color: $color-white;
      }
    }

    &:last-child {
      .contactelem__item {
        width: 49%;
        margin: 1rem 0;

        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
    }
  }
}
