footer {
  background-color: $color-green;
  color: $color-white;
  text-align: center;
  padding: 2rem 0;

  .logo {
    padding-bottom: .25rem;
    display: inline-block;

    img {
      display: block;
    }
  }
}
