// Reset

ul {
  margin: 0;

  li {
    display: inline-block;
  }
}

// Style

.header-top {
  background-color: $color-white;
  padding: 2rem 0;

  .col {
    &:first-child {
      @include media-breakpoint-down(md) {
        min-width: 70%;
      }

      a {
        span {
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
    }

    &:last-child {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      @include media-breakpoint-down(md) {
        max-width: 30%;
        min-width: 30%;
      }
    }
  }
}

.nav-main {
  @include media-breakpoint-down(md) {
    display: none;
  }

  ul {
    li {
      a {
        color: $color-black;
        padding: 0 .5rem;

        &:hover {
          //font-weight: bold;
          text-decoration: none;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
        }
      }

      &.active {
        color: red;

        a {
          color: red;
        }
      }
    }
  }
}

.nav-bottom {
  @include full-center;
  background-color: $color-dark;

  @include media-breakpoint-down(md) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    padding: 1rem 0;

    @include media-breakpoint-down(sm) {
      padding: .5rem 0;
      font-size: .75rem;
    }

    li {
      a {
        color: $color-white;
        padding: 0 1rem;
      }
    }
  }
}

.langs {
  .lang {
    opacity: .4;
    margin-left: .5rem;
    padding: 0;

    &.active,
    &:hover {
      opacity: 1;
    }
  }
}

.nav-mobile {
  width: 100%;
  margin: 2rem 0;
  padding: 1rem 0;
  text-align: center;
  border-top: 5px solid $bg-color;

  hr {
    background-color: $bg-color;
    display: block;
    height: 1px;
    widtH: 5rem;
  }

  .nav-item {
    a {
      display: inline-block;
      color: #000;
      font-size: 1.35rem;
      font-weight: bold;
    }

    &.langs {
      padding-top: 1rem;

      img {
        width: 2rem;
      }
    }
  }
}

.navbar-toggler {
  //border: 1px solid $color-dark;
  border-radius: 5px;
  float: right;

  .navbar-toggler-icon {
    display: inline-block;
    width: 30px;
    height: 3px;
    background-color: $color-dark;
    position: relative;

    &:before,
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: $color-dark;
    }

    &:before {
      top: -.5rem;
    }

    &:after {
      bottom: -.5rem;
    }
  }
}
