.landing {
  text-align: center;

  .intro {
    color: $color-red;
    font-weight: bold;
    text-transform: uppercase;
    padding: 2rem 0;

    small {
      display: block;
      font-size: 1.25rem;
    }
  }

  .hero {
    display: block;
    width: 100%;
  }

  p.about {
    font-weight: bold;
    margin: 2rem 0;
    padding: 0 2rem;
    font-size: 18px;

    @include media-breakpoint-down(md) {
      padding: 0 1rem;
    }
  }
}

// Boxes

.boxes {
  display: flex;
  justify-content: space-between;

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }

  &__box {
    background-color: $color-white;
    padding: 2rem;
    text-align: center;
    font-size: 14px;
    margin: 0 0 4rem;
    width: 32%;

    @include media-breakpoint-down(lg) {
      width: 33%;
    }

    @include media-breakpoint-down(md) {
      padding: 1.5rem 1rem;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
    }

    img {
      height: 2rem;
      margin-bottom: 2rem;
    }

    p {
      margin: 0;
    }

    ul {
      li {
        display: block;
      }
    }
  }
}
