.slider {
  width: 650px;
  margin: 2rem auto;
  padding-bottom: 2rem;

  @include media-breakpoint-down(sm) {
    width: 100%;
  }

  .slider-image {
    padding: 0 .5rem;

    figure {
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        transform: scale(1);
        transition: .35s ease-in-out;
      }

      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }
  }

  .slick-dots {
    bottom: 5px;
  }
}

.landing {
  .slider {
    width: 75%;
    margin: 0 auto;
    padding: 0;

    .slick-dots {
      bottom: -35px;
    }
  }
}
