// Reset
@import 'node_modules/reset-css/sass/reset.scss';

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Mains
@import 'fonts';

// Variables
@import 'variables';

// Mixins
@import 'mixins';

// Contents
@import 'header';
@import 'landing';
@import 'contact';
@import 'transport';
@import 'beef';
@import 'footer';
@import 'sliders';

// Elements
@import 'buttons';
@import 'typo';

* {
  box-sizing: border-box;

  &:after,
  &:before {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: $bg-color;
}

.container {
  @include media-breakpoint-down(sm) {
    max-width: 100%;
    padding: 0 1rem;
  }
}

.only_mobile {
  display: none;

  @include media-breakpoint-down(md) {
    display: block;
  }
}
