section.transport
  .container
    .row
      .col
        h2.page-title Élőállat Szállitás

        p.lead
          b Cégünk vállal élőállat szállítást a legmodernebb felszereltségű, a legújabb EU állatvédelmi előírásoknak megfelelő kamionokkal mind belföldre, mind külföldre. A pótkocsi kiváló szellőzése és a szellőztetést segítő ventillátorok a lehető legnyugodtabb utazást biztosítják az állatoknak még hosszabb távon is.
        
        .slider
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-1.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-2.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-3.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-4.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-5.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-6.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-7.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-8.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-9.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-10.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-11.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-12.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-13.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-14.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-15.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-1/Livestock-Transport-16.jpg' alt='transport')
        
        .about
          p Az utazás közben az automata itató berendezéssel felszerelt többszintes pótkocsi biztosítja az állatok megfelelő itatását. A takarmányt külön rekeszekben tároljuk a hosszabb utak során. A többszintes pótkocsin az állatokat hidraulikus emelők emelik fel és le, így nem kell meredek rámpákon a felsőbb szintre felmenniük, illetve lejönniük. Nagyobb állatok esetében, mint a szarvasmarha az állatok a kamionban két szinten foglalnak helyet, kisebb állatok esetében, mint a sertés , juh , kecske három szintű a szerelvény.
          
        .slider
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-1.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-2.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-3.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-4.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-5.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-6.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-7.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-8.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-9.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-10.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-11.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-12.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-13.jpg' alt='transport')
          .slider-image
            figure
              img(src='./images/transport-page/slide-2/Livestock-Transport-14.jpg' alt='transport')
          
script(type='text/javascript').
  $(document).ready(function(){
    $('.slider').slick({
      infinite: true,
      dots: true,
      slidesToShow: 2,
      slidesToScroll: 2,
      autoplay: true,
      autoplaySpeed: 2000
    });
  });
