script(type='text/javascript').
  $(document).ready(function(){
    $('.slider').slick({
      infinite: true,
      dots: true,
      slidesToShow: 2,
      slidesToScroll: 2,
      autoplay: true,
      autoplaySpeed: 2000
    });
  });
