section.contact
  .container
    .row
      .col
        h2.page-title Kapcsolat
    
    .row
      .col
        .contactelem
          .contactelem__item.red
            h3 AGROTA-2L Kft.
            p 
              b Székhely:
            p 2100, Gödöllő, Ady Endre sétány 26.
            p 
              b Adószám:
            p 2513774-2-13
            p
              b Eu Adószám:
            p HU12513774
            p
              b Cégjegyzékszám:
            p 13-09-085771


          .contactelem__item
            h3 Iroda – Gödöllő
            p 
              b Cím:
            p 2100, Gödöllő, Ady Endre sétány 26.
            p 
              b Telefon:
            p +36 28 512 390
            p 
              b Fax:
            p +36 28 512 391
            p 
              b Email cím:
            p info@agrota-2L.com

          .contactelem__item
            h3 Szarvasmarha telep Tiszasüly
            p 
              b Cím:
            p HU-5061 Tiszasüly, Fő út 156
            p
              b Telefon:
            p +36 56 497 340
            p 
              b Fax:
            p +36 56 497 340
            p 
              b Email cím:
            p eszter.kenez@agrota-2L.com

        .contactelem
          .contactelem__item
            h3 Élőállat szállítása
            p 
              b Virág Péter
            p Telefon:
            p 
              b +36 30 686 1615
            p Email cím:
            p 
              b info@agrota-2L.com
          .contactelem__item
            h3 Vágóállat – vágómarha felvásárlás
            p 
              b Virág Péter
            p Telefon:
            p 
              b +36 30 686 1615
            p Email cím:
            p 
              b info@agrota-2L.com
