footer
  .container
    .row
      .col
        a.logo(href='#')
          img(src='./images/logo-green.png' alt='logo')
        p HU-2100 Gödöllő, Ady Endre sétány 26.
        p Email: info@agrota-2L.com, Tel: +36/28 512 390, Fax: +36/28 512 391
        p DE-27726 Worpswede, Am Hasenmoor 27a
        p Tel: +49 151 54 722 622
        p
          small Agrota-2L Kft. 2020. Minden jog fenntartva!
