header.header-top
  .container
    .row
      .col
        a(href='/')
          img(src='./images/logo.png' alt='logo')
          span
            img(src='./images/icons.png' alt='icons')
      .col
        nav.nav-main
          ul
            li
              a(href='/') Cégünkről
            li
              a(href='eloallat-szallitas.html') Élőállat szállítás
            li
              a(href='contact.html') Kapcsolat
            li.langs
              a.lang.active(href='#')
                img(src='./images/lang-hu.png' alt='icons')
              a.lang(href='#')
                img(src='./images/lang-en.png' alt='icons')
              a.lang(href='#')
                img(src='./images/lang-ru.png' alt='icons')
        nav.navbar.only_mobile
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent1' aria-controls='navbarSupportedContent1' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon.my-toggler
  
  #navbarSupportedContent1.collapse.navbar-collapse.only_mobile
    ul.navbar-nav.nav-mobile
      li.nav-item.active
        a.nav-link(href='/')
          | Cégünkről 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='eloallat-szallitas.html') Élőállat szállítás
      hr
      li.nav-item
        a.nav-link(href='aberdeen-angus.html') Aberdeen angus
      li.nav-item
        a.nav-link(href='charolais.html') Charolais
      li.nav-item
        a.nav-link(href='hereford.html') Hereford
      li.nav-item
        a.nav-link(href='holstein-fríz.html') Holstein fríz
      li.nav-item
        a.nav-link(href='limousin.html') Limousin
      li.nav-item
        a.nav-link(href='szimentali.html') Szimentáli
      hr
      li.nav-item
        a.nav-link(href='contact.html') Kapcsolat
      li.nav-item.langs
        a.nav-link.lang.active(href='#')
          img(src='./images/lang-hu.png' alt='icons')
        a.nav-link.lang(href='#')
          img(src='./images/lang-en.png' alt='icons')
        a.nav-link.lang(href='#')
          img(src='./images/lang-ru.png' alt='icons')

.container
  .row
    .col
      nav.nav-bottom
        ul
          li
            a(href='aberdeen-angus.html') Aberdeen angus
          li
            a(href='charolais.html') Charolais
          li
            a(href='hereford.html') Hereford
          li
            a(href='holstein-fríz.html') Holstein fríz
          li
            a(href='limousin.html') Limousin
          li
            a(href='szimentali.html') Szimentáli
