section.landing
  .container
    .row
      .col
        h2.intro
          small Agrota–2L Kft.
          | Élőállat export / import
        .slider
          .slider-image
            figure
              img(src='./images/main-page/slider/AboutUs-1.jpg' alt='About Us')
          .slider-image
            figure
              img(src='./images/main-page/slider/AboutUs-2.jpg' alt='About Us')
          .slider-image
            figure
              img(src='./images/main-page/slider/AboutUs-3.jpg' alt='About Us')
          .slider-image
            figure
              img(src='./images/main-page/slider/AboutUs-4.jpg' alt='About Us')
          .slider-image
            figure
              img(src='./images/main-page/slider/AboutUs-5.jpg' alt='About Us')
          .slider-image
            figure
              img(src='./images/main-page/slider/AboutUs-6.jpg' alt='About Us')
    
    .row
      .col
        p.about Cégünk jogelődjét 1987-ben alapították a magyar állattenyésztők külkereskedelmi és fejlesztési igényeinek kielégítésére. Az elmúlt 15 évben több mint 50.000 tenyész szarvasmarhát értékesítettünk. Ma legfontosabb tevékenységi területünk a tenyészállat kereskedelem az Európai Unión belül és kívül.
    
    .row
      .boxes
        .boxes__box
          img(src='./images/icon-1.png' alt='icon')
          p
            b 2007-ben értékesítettünk körülbelül:
          ul
            li • 6.000 vemhes üszőt
            li • 2.000 tenyészkocát
            li • ivadékvizsgált és fiatal tenyészbikákat
            li • fiatal tenyészkanokat
          p Ezen állatok többsége magyar, vagy német származású volt. Az állatok többsége, kb. 80%-a Holstein, a többi Limousin, Charolais, Hereford, Aberdeen Angus.
        .boxes__box
          img(src='./images/icon-2.png' alt='icon')
          p
            b Ezen felül:
          ul
            li • értékesítünk szarvasmarhát, birkát, sertést vágásra és továbbhízlalásra
            li • szállítunk élő állatokat saját járművekkel
          p Két kereskedelmi telepünk van Magyarország középső részén, ahol cirka 1200 tenyészállatot tartunk, többségük tiszta fajú, törzskönyvezett Holstein-Fríz vemhes és szűzüsző, valamint tartunk még kb. 250 tiszta fajú törzskönyvezett Limousin szarvasmarhát is.
        .boxes__box
          img(src='./images/icon-3.png' alt='icon')
          p Központi irodánk Magyarországon, Budapest közelében van, azon kívül Németországban is van irodánk, Brémától nem messze. Cégünk többségi tulajdonos a Szarvasi Agrota-Alcsired Kft-ben, ahol kb. 1250 törzskönyvezett Holstein szarvasmarhát tartanak tejtermelési céllal. Ami forgalmunkban a kulcsfontosságú szarvasmarha exportot illeti, legfőbb partnereink Oroszországban, Ukrajnában, Fehérorszországban, Romániában, Görögörszágban, Spanyolországban és Magyarországon vannak.

script(type='text/javascript').
  $(document).ready(function(){
    $('.slider').slick({
      infinite: true,
      dots: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 2000,
      fade: true,
      cssEase: 'linear'
    });
  });
